
h1{
    border: 3px dotted;
    background-color: grey;
    color: white;
    max-width: 200px;
    text-align: center;
    padding: 25px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    background-color: red;
    color: white;
    max-width: 200px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px;

}

p{
    background-color: green;
    color: white;
    padding: 25px;
}

ul{
    background-color: green;
    color: white;
    max-width: 500px;
    padding: 25px;
}
